# Introduction to Python

This notebook will demonstrate the first steps in Python.

> **Comment:** This cell introduces the notebook and its purpose: to teach basic Python concepts.

# Python

A Brief Introduction to Variables, Functions, and Classes in Python

* **Variables**: In Python, they are containers for storing data and values. Unlike other programming languages, they are not declared beforehand, nor is their type specified in advance. A variable is created the moment a value is assigned to it.
* **Functions**: Functions are a block of code that is executed when called. They can be passed data in the form of parameters. They can return data/values.
* **Classes**: In the spirit of an object-oriented language, classes can also be written, and objects can be defined and created. Classes are "blueprints" from which objects can be built. These objects encapsulate member variables and functions.

> **Comment:** This cell summarizes the three main building blocks in Python: variables, functions, and classes.

## Data types and data structures

* Integers (int) - whole numbers (1,2,2,30)
* Floating point (float) - number with decimal point (2.4, 1.450, 100.0)
* Strings (str) - ordered sequences of characters ("hello", '200')
* Lists (list) - ordered sequences of objects ([10, 1.8, "hello"])
* Dictionaries (dict) - Unordered Key:Value pairs ({"Pedro":0, "Rob":1})
* Tuples (tup) - Ordered immutable sequence of objects ((10,1.8,"hello"))
* Sets (set) - Unordered collection of unique objects ({1,2,30})
* Booleans (bools) - logical value indicating True or False

> **Comment:** This cell lists the main data types and data structures in Python, with examples.

## Numbers

> **Comment:** This section introduces numbers in Python and basic arithmetic operations.

In [ ]:
# Addition: Adds two numbers together
2+1

3

In [ ]:
# Subtraction: Subtracts the second number from the first
2-1

1

In [ ]:
# Multiplication: Multiplies two numbers
2*1

2

In [ ]:
# Division: Divides the first number by the second
2/1

2.0

### Modulo operator (%)

Returns the remainder after dividing one number by another. Useful for checking if a number is odd or even.

> **Comment:** This cell explains the modulo operator and its use cases.

In [ ]:
# Division example: Shows the result of dividing 7 by 2
7/2

3.5

In [ ]:
# Modulo example: Shows the remainder of 7 divided by 2
7%2

1

In [ ]:
# Modulo example: Shows the remainder of 8 divided by 2
8%2

0

In [ ]:
# Exponentiation: Raises 2 to the power of 3
2**3

8

In [ ]:
# Floor division: Divides 7 by 2 and returns the largest integer less than or equal to the result
7//2  # Output: 3

3

In [ ]:
# Combined operations: Shows the result of (2+4) divided by (5-2)
(2+4)/(5-2)

2.0

## Variable assignments

Rules for variable names:
* Names cannot start with a number
* There can be no spaces in the name, use _ instead
* Can't use any of these symbols: :,''', <, >, |, (), !, @, $, #, %, *, -, +, ...

> **Comment:** This cell explains how to assign variables in Python and the rules for naming them.

### Dynamic Typing in Python

Python uses dynamic typing, which means you can reassign variables to different data types.

> **Comment:** This cell explains that variables in Python can change type during execution.

In [ ]:
# Assigns the integer value 2 to the variable my_dogs
my_dogs = 2

In [ ]:
# Displays the value of my_dogs
my_dogs

2

In [ ]:
# Adds the value of my_dogs to itself (2 + 2)
my_dogs + my_dogs

4

In [ ]:
# Increases the value of my_dogs by 2 (previous value + 2)
my_dogs = my_dogs + 2

In [ ]:
# Displays the updated value of my_dogs
my_dogs

4

In [ ]:
# Shows the data type of my_dogs
# type() is a built-in function that returns the type of an object
type(my_dogs)

int

In [ ]:
# Reassigns my_dogs to a list of dog names (demonstrates dynamic typing)
my_dogs = ["Athena", "Thor"]

In [ ]:
# Displays the list of dog names stored in my_dogs
my_dogs

['Athena', 'Thor']

In [ ]:
# Concatenates the list my_dogs with itself (duplicates the list)
my_dogs + my_dogs

['Athena', 'Thor', 'Athena', 'Thor']

In [ ]:
# Shows the data type of my_dogs (should now be a list)
type(my_dogs)

list

In [ ]:
# Example of variable assignment and arithmetic operations
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [ ]:
# Displays the calculated taxes
my_taxes

10.0

## Strings
* Sequences of characters
* 'hello'
* "hello"
* "I don't do that"

> **Comment:** This cell introduces strings in Python and gives examples.

### String Indexing and Slicing

Strings are ordered sequences, meaning that we can use indexing or slicing to grab sub-sections of the string.

* Indexing -- []
* Slicing -- [start:stop:step]

> **Comment:** This cell explains how to access parts of a string using indexing and slicing.

In [ ]:
# A string literal using single quotes
'hello'

'hello'

In [ ]:
# A string literal using double quotes
"100"

'100'

In [ ]:
# Another string literal
"hello"

'hello'

In [ ]:
# A string with spaces
"this is also a string"

'this is also a string'

In [ ]:
# String with an apostrophe using single quotes
'I\'m going on a run'

SyntaxError: unterminated string literal (detected at line 1) (375039999.py, line 1)

In [ ]:
# String with an apostrophe using double quotes
"I'm going on a run"

"I'm going on a run"

In [ ]:
# Using print() to display a string
print("Hello")

Hello

In [ ]:
# Two string literals; spaces are also characters
"Hello world one"  # spaces are also characters
"Hello world two"

'Hello world two'

In [ ]:
# Printing multiple strings
print("Hello world one")
print("Hello world two")

Hello world one
Hello world two

In [ ]:
# Using escape sequences in strings
print("Hello \nworld")  # Newline
print()  # Prints a blank line
print("Hello \tworld")  # Tab

Hello
world

Hello 	world

In [ ]:
# Using len() to get the length of a string
len("hello")

5

In [ ]:
# Length of a string with spaces
len("I am")

4

In [ ]:
# Assign a string to a variable
mystring = "Hello world"

In [ ]:
# Display the value of mystring
mystring

'Hello world'

In [ ]:
# Indexing: Get the character at position 3 (0-based)
mystring[3]

'l'

### String Indexing in Python

Python indexing starts at 0 and goes until len - 1. Reverse indexing starts at -1.

> **Comment:** This cell explains how string indexing works in Python.

In [ ]:
# Indexing: Get the character at position 8
mystring[8]

'r'

In [ ]:
# Indexing: Get the character at position 9
mystring[9]

'l'

In [ ]:
# Reverse indexing: Get the second-to-last character
mystring[-2]

'l'

In [ ]:
# Assign a new string to mystring
mystring = 'abcdefghijk'

In [ ]:
# Display the value of mystring
mystring

'abcdefghijk'

In [ ]:
# Slicing: Get all characters from index 2 to the end
mystring[2:]  # [start:stop:step]

'cdefghijk'

In [ ]:
# Slicing: Get characters from the start up to (but not including) index 3
mystring[:3]

'abc'

### Slicing Stop Index

The stop index means go up to, but not include, the specified index.

> **Comment:** This cell clarifies how the stop index works in Python slicing.

In [ ]:
# Slicing: Get characters from index 3 up to (but not including) index 6
mystring[3:6]

'def'

In [ ]:
# Slicing: Get all characters (full string)
mystring[::]  # from beginning to end

'abcdefghijk'

In [ ]:
# Slicing with step: Get every second character
mystring[::2]

'acegik'

In [ ]:
# Slicing with step: Get every third character
mystring[::3]

'adgj'

In [ ]:
# Slicing: Get characters from index 2 to 6 (not including 7), step by 2
mystring[2:7:2]

'ceg'

In [ ]:
# Slicing with negative step: Reverse the string
mystring[::-1]

'kjihgfedcba'

In [ ]:
# Assign a new string to variable name
name = "Sam"

In [ ]:
# Try to modify a single character in the string (will raise an error)
# Strings are immutable in Python - you cannot change individual characters
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [ ]:
# String concatenation example
# Get all characters except the first one
last_letters = name[1:]

In [ ]:
# Display the sliced string (last_letters)
last_letters

In [ ]:
# Concatenate 'P' with last_letters to create a new string
"P" + last_letters

In [ ]:
# Assign a new string to variable x
x = "Hello world"

In [ ]:
# Multiply a string by a number to repeat it
x * 2

In [ ]:
# String methods: Convert to uppercase
x.upper()

In [ ]:
# String methods: Convert to lowercase
x.lower()

In [ ]:
# String methods: Split the string into a list of words
x.split()

In [ ]:
# String methods: Split by a specific character
x.split('o')

In [ ]:
letter * 10

In [ ]:
"2" + "3"

In [ ]:
2+3

In [ ]:
letter + 10

In [ ]:
x = "hi this is a string"

In [ ]:
x.

In [ ]:
x.upper() ### not implace

In [ ]:
x.capitalize()

In [ ]:
x.lower()

In [ ]:
x.replace("h","H")

In [ ]:
x.split()

In [ ]:
x.split("i")

Printing

In [ ]:
print('This is a string {}'.format("Inserted"))

In [ ]:
print("The {} {} {}".format("fox", "brwon", "quick"))

In [ ]:
print("The {2} {1} {0}".format("fox", "brwon", "quick"))

In [ ]:
print("The {2} {1} {0} {0}".format("fox", "brwon", "quick"))

In [ ]:
print("The {q} {b} {f}".format(f = "fox", b = "brwon", q = "quick"))

In [ ]:
name = "Pedro"
print(f"Hello, name is {name}") ### since python 3.6

Float formatting

In [ ]:
result = 100/777

In [ ]:
result

In [ ]:
print(f"Result {result}")

In [ ]:
print("Result {r:1.5f}".format(r = result))

Lists

* Lists are ordered sequences that can hold a variety of objects types
* They use [] and coma to separate the objects
* Support indexing and slicing
* Have a varity of methods

In [ ]:
mylist = [1,2,3]
mylist

In [ ]:
mylist = ['a',1.2,4]
mylist

In [ ]:
len(mylist)

In [ ]:
mylist = ['one','two','three']
mylist

In [ ]:
mylist[0]

In [ ]:
mylist[1:]

In [ ]:
mylist[::-1]

In [ ]:
another_list = ['four','five']

In [ ]:
mylist + another_list ### not implace

In [ ]:
new_list = mylist + another_list
new_list

In [ ]:
new_list[0] = "ONE"

In [ ]:
new_list

In [ ]:
new_list[1] = new_list[1] + new_list[1]

In [ ]:
new_list

In [ ]:
new_list.append("six") ### implace

In [ ]:
new_list

In [ ]:
new_list.append(["seven","weight"]) ### implace

In [ ]:
new_list

In [ ]:
new_list.pop(-1) ### implace

In [ ]:
new_list.extend(["seven","weight"]) ### implace

In [ ]:
new_list

In [ ]:
popped = new_list.pop(0)
popped

In [ ]:
new_list

In [ ]:
new_list = ['a','c','f','d','a',"b","b"]
num_list = [3,6,2,2,1,0,1,4]

In [ ]:
sorted(new_list) ### not implace

In [ ]:
sorted(num_list) ### not implace

In [ ]:
new_list.sort() ### implace

In [ ]:
new_list

In [ ]:
num_list.sort()

In [ ]:
num_list

In [ ]:
num_list.reverse() ### impace

In [ ]:
num_list

In [ ]:
set(num_list) ## not impalce and returns a tuple

In [ ]:
list(set(num_list))

In [ ]:
list_of_list = [[0,1,2],[2,3,4],[0,1,2]]
list_of_list

In [ ]:
sorted(list_of_list)

Dictionaries

* Unorded mapping for storing objects
* key to value
* {key1:value1, key2:value2}
* Usuful when we wanna retrive a value without knowing its indexing location - jsut need the key value pair
* Can`t be sorted

In [ ]:
my_dict = {'key1':"value1",
           'key2':"value2"}
my_dict

In [ ]:
my_dict['key1']

In [ ]:
price_lookup = {'apple':2.99,
                'orange':1.99,
                "milk": 4.99}

In [ ]:
price_lookup['apple']

In [ ]:
d = {0:"apple", "k2":[0,1,2], "k3":{"kk1":"vv1","kk2":"vv2"}}

In [ ]:
d[0]

In [ ]:
d["k2"]

In [ ]:
d["k2"][2]

In [ ]:
d["k3"]

In [ ]:
d["k3"]['kk1']

In [ ]:
d

In [ ]:
d["k2"] = "new value"

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items() ## tuples

In [ ]:
list(d.items())[0]

Tuples

* Similar to lists
* Immutable
* Can`t be change

In [ ]:
t = (0,1,2)

In [ ]:
mylist = [0,1,2]

In [ ]:
type(t)

In [ ]:
type(mylist)

In [ ]:
len(t)

In [ ]:
t = ("one",1)

In [ ]:
t[0]

In [ ]:
t[-1]

In [ ]:
t = ("a","a","b","c")

In [ ]:
t.count("a")

In [ ]:
t.count("b")

In [ ]:
t.index("a") ## first index of the value

In [ ]:
mylist[0] = 1
mylist

In [ ]:
t[0] = 1

Sets

* unorded collections of unique elements

In [ ]:
myset = set()

In [ ]:
myset

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3]

In [ ]:
set(mylist)

Booleans

* operators that allows convey True and False statements
* Very important in cotronl flow and logic

In [ ]:
True

In [ ]:
true

In [ ]:
1 > 2

In [ ]:
1 == 1 ## comparion operator

In [ ]:
1 == 2

Statements
* If
* Elif
* Else

Control flow and logic using conditions

In [ ]:
if True:
  print("Its true")

In [ ]:
if 3 > 2:
  print("Its true")

In [ ]:
hungry = False
if hungry:
  print("feed the dog")

In [ ]:
hungry = True
if hungry:
  print("feed the dog")

else:
  print("Not feed the dog")

In [ ]:
loc = 'uni'

if loc == 'uni':
  print("Study hard")

elif loc == 'bank':
  print("money is cool")

elif loc == 'store':
  print("welcome")

else:
  print("I do not know much")

## For loops

* Execute a block of code for iterable objects

> **Comment:** This section introduces for loops, a fundamental control structure in Python.

In [ ]:
# Create a list of numbers from 1 to 10
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# Basic for loop: Print each number in the list
for num in mylist:
    print(num)

In [ ]:
# For loop with conditional: Check if each number is even or odd
for num in mylist:
    if num % 2 == 0:
        print(f'The num {num} is even')
    else:
        print(f'The num {num} is odd')

In [ ]:
# For loop with accumulator: Calculate running sum
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(f'{num}, total {list_sum}')

In [ ]:
# For loop with enumerate: Get both index and value
list_sum = 0
for i, num in enumerate(mylist):
    list_sum = list_sum + num
    print(f'Iteration {i} summed the number {num} and the sum was {list_sum}')

In [ ]:
# Create a list of tuples for tuple unpacking demonstration
mylist = [(1,2),(3,4),(5,6)]

In [ ]:
# Get the length of the list of tuples
len(mylist)

In [ ]:
# Tuple unpacking in a for loop
# Assigns each element of the tuple to variables a and b
for a,b in mylist:
    print(a)  # First element of each tuple
    print(b)  # Second element of each tuple

In [ ]:
# Create a dictionary with two key-value pairs
d = {"k1":"value1","k2":"value2"}

In [ ]:
# Iterate over dictionary keys
for i in d:
    print(i)

In [ ]:
# Iterate over dictionary items (key-value pairs as tuples)
for i in d.items():
    print(i)

In [ ]:
# Iterate over dictionary items with tuple unpacking
for key,value in d.items():
    print(key)

In [ ]:
# Iterate over dictionary keys and access values using the key
for n in d.keys():
    print(n, d[n])

## While Loop

* Execute a block of code while a condition is True

> **Comment:** This section introduces while loops, which continue executing as long as a condition remains True.

In [ ]:
# Example of a while loop with an else clause
x = 7

# Loop will not execute because x is not less than 5
while x < 5:
    print(f"current value of x {x}")
    x += 1
else:
    print("X is not less than 5")

## Control Flow Statements: break, continue, and pass

* `break` - Breaks out of the current closest loop
* `continue` - Goes to the top of the closest loop
* `pass` - Does nothing (placeholder)

> **Comment:** This section explains three important control flow statements in Python loops.

In [ ]:
# Example of pass statement
x = [1,2,3]

for i in x:
    # pass is used as a placeholder when no action is needed
    pass

print("End of my script")

In [ ]:
# Example of continue statement
mystring = 'Pedro'
for i in mystring:
    if i == 'd':
        continue    # Skip 'd' and continue with next iteration
    print(i)

In [ ]:
# Example of break statement
for i in mystring:
    if i == 'd':
        break    # Exit loop when 'd' is encountered
    print(i)

## Functions

* Use `def` keyword to define functions
* Function names should be lowercase with underscores between words
* Functions can either print output or return values

> **Comment:** This section introduces functions in Python, explaining naming conventions and basic functionality.

In [ ]:
# Define a simple function that prints two messages
def say_hello():
    print("Hello")
    print("How are you?")

In [ ]:
# Call the say_hello function
say_hello()

In [ ]:
# Define a function with a parameter
def say_hello(name):
    print(f'Hello {name}')

In [ ]:
# Call say_hello with an argument
say_hello("Sarah")

In [ ]:
# This will raise an error because no argument is provided
say_hello()

In [ ]:
# Define a function with a default parameter value
def say_hello(name='Rob'):
    print(f'Hello {name}')

In [ ]:
# Call function with a custom argument
say_hello("Pedro")

In [ ]:
# Call function without argument (uses default value 'Rob')
say_hello()

In [ ]:
# Define two functions to demonstrate return vs print
def add_num(num1,num2):
    return num1+num2  # returns the result that can be assigned to a variable

def print_result(num1,num2):
    print(num1+num2)  # just prints the result, returns None

In [ ]:
# Call add_num function (returns value but not assigned)
add_num(1,2)

In [ ]:
# Call add_num and assign the return value to x
x = add_num(1,2)

In [ ]:
# Display the value stored in x
x

In [ ]:
# Call print_result and try to assign its output to a
a = print_result(1,2)  # This will assign None to a because print_result doesn't return anything

In [ ]:
# Display value of a (will be None)
a

In [ ]:
# Check the type of a (will be NoneType)
type(a)